
<div class="container">
  <div class="row">
    <nav nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li role="presentation" class="nav-item active" routerLinkActive="active"><a class="nav-link " routerLink="*">Home</a></li>
          <li role="presentation" class="nav-item" routerLinkActive="active"><a class="nav-link " routerLink="page1">page1</a></li>
          <li role="presentation" class="nav-item" routerLinkActive="active"><a class="nav-link " routerLink="/page2">page2</a></li>
          <li role="presentation" class="nav-item" routerLinkActive="active"><a class="nav-link " [routerLink]="['/service']">Service</a></li>
        </ul>
      </div>
    </nav>



      <!--
      <div><app-service-test-one></app-service-test-one></div>
      <div><app-service-test-two></app-service-test-two></div>
      -->



      <!--<div><app-dirctives></app-dirctives></div>-->
      <!--
      <div>
        <h2>{{title}}</h2>
      </div>
      <div>
        <input type="text" [(ngModel)]="name"/>
        <label> Name: </label>
        <h4>{{name}}</h4>
      </div>
      <div>
        <landlordinfo></landlordinfo>
      </div>

      <div><app-app-tenents></app-app-tenents></div>
      <div>
        <app-payment
        (emitValue_1)='addValue_1($event)'
        (emitValue_2)='addValue_2($event)'
        ></app-payment>
        <hr>
        <app-income
        *ngFor="let item of elementInfo"
        [el]="item"
        >-->
        <!--<p>{{element.type}}</p>
        <h5 *ngIf="element.payment === 100" style="color:red">{{element.payment}}</h5>
        <h5 *ngIf="element.payment < 100 && element.payment !== 1 && element.payment !== 2" style="color:blue">{{element.payment}}</h5>
        <p *ngIf="element.payment === 1" style="color:yellow; background-color: black;">{{element.payment}}</p>
        <p *ngIf="element.payment === 2" style="color:greenyellow; background-color: black;">{{element.payment}}</p> -->
      <!--
      </app-income>
      </div>
      <hr>
      <div>
        <app-life-cycle></app-life-cycle>
      </div>
    -->

  </div>
  <div class="row">
    <div class="col-xs-6 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

